.goods {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__controls-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 210px;
    gap: 32px 24px;

    button {
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__logout {
    color: var(--color-red);
    fill: var(--color-red);
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  &__img-table {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }

  &__cross-icon {
    &:hover {
      cursor: pointer;
    }
  }

  &__modal {
    max-width: 968px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overflow: auto;
  }

  &__modal-image-container {
    display: flex;
    gap: 20px;
  }

  &__modal-image {
    width: 120px;
    max-height: 140px;
    object-fit: cover;
    object-position: center;
  }

  &__modal-degree-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__modal-degrees-container {
    display: flex;
    gap: 12px;
  }

  &__modal-degree {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-gray-5);
    transition: background-color 0.15s ease;

    &--active,
    &--0:hover,
    &--1:hover,
    &--2:hover,
    &--3:hover,
    &--4:hover,
    &--5:hover {
      background-color: var(--color-light-blue);
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__modal-cross:hover {
    cursor: pointer;
  }

  &__modal-controls {
    display: flex;
    justify-content: space-between;
  }

  &__modal-button {
    max-width: 210px;
  }
}
