.hg-button {
  width: 100%;
  font-family: var(--font-family-default);
  font-size: 20px;
  color: var(--color-black);
  border: solid 1px var(--color-black);
  border-radius: 6px;
  padding: 12px 0;
  background-color: transparent;
  transition: all 0.1s ease;

  &:not(.hg-button--disabled):hover {
    cursor: pointer;
    background-color: var(--color-light-blue);
  }

  &--disabled {
    color: var(--color-gray-3);
    border-color: var(--color-gray-3);

    .hg-button--light-blue {
      background-color: var(--color-gray-5);
    }
  }

  &--light-blue {
    border: none;
    background-color: var(--color-light-blue);
    transition: all 0.1s ease;

    &:not(.hg-button--disabled):hover {
      cursor: pointer;
      color: var(--color-white);
      background-color: var(--color-dark-blue);

      .hg-text {
        color: var(--color-white);
      }
    }
  }

  &--red {
    border: none;
    background-color: var(--color-light-red);
    transition: all 0.1s ease;

    &:not(.hg-button--disabled):hover {
      cursor: pointer;
      background-color: var(--color-red);
    }
  }
}
