.hg-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.15;
  margin: 0;
  padding: 0;

  &--medium {
    font-weight: 600;
  }

  &--short {
    line-height: 1;
  }

  &--1 {
    font-size: 48px;
  }

  &--2 {
    font-size: 36px;
  }

  &--4 {
    font-size: 28px;
  }

  &--5 {
    font-size: 20px;
  }

  &--6 {
    font-size: 16px;
  }
}
